.navbar {
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: $color-white;
  padding: 10px;

  &:hover {
    color: $color-secondary;
    background-color: $color-primary;
  }

  &--active {
    background-color: $color-primary;
    color: $color-secondary;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    padding: 5px 0;
  }
  .navbar-link {
    margin-left: 0px;
    padding: 4px;

    &--active {
      background-color: $color-primary;
      color: $color-secondary;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}
