.navbar {
  padding: 0;
  border-bottom: solid $border-width $color-primary;
}

.navbar-link {
  text-decoration: none;
  color: $color-white;
  padding: 0.625rem;

  &:hover {
    color: $color-secondary;
    background-color: $color-primary;
  }

  &--active {
    background-color: $color-primary;
    color: $color-secondary;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    padding: 0.32rem 0;
  }
  .navbar-link {
    margin-left: 0;
    padding: 0.25rem;

    &--active {
      background-color: $color-primary;
      color: $color-secondary;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}
