.movie-title {
  background-color: $color-secondary;
  padding: 5px;
}
.movie-overview {
  max-height: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}

.more-button {
  // margin-left: auto;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@include media-breakpoint-down(md) {
  .movie-card-image {
    border-radius: 0;
  }
  .movie-title {
    margin-top: 10px;
  }

  .movie-overview {
    padding-bottom: 5px;
  }

  .more-button {
    bottom: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: $color-secondary;
  }

  .released-year {
    margin-bottom: 0;
  }
}
