.movie-details {
  text-align: left;

  &-inner {
    .cover-image {
      max-height: calc(100vh - 150px);
      border: 0.32rem solid $color-primary;
    }
  }

  &-text {
    padding-top: 1.5rem;

    &-subtitle {
      p {
        margin: 0;
        padding: 0;
      }
    }

    &-description {
      margin-top: 1.5rem;

      .text-info {
        text-align: justify;
      }
    }
  }
}
