@import "abstracts/variables";

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "dark": $color-secondary,
  "info": $color-white,
  "danger": $color-danger,
);
@import "~bootstrap/scss/bootstrap";

@import "layout/header";
@import "layout/footer";

@import "pages/movieDescription";
@import "pages/popularMovies";

@import "components/components";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $color-secondary;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
